body{
  margin:0;
  padding:0;
  font-family: arial, sans-serif;
}

div{
  box-sizing: border-box;
}

header{
    background:url(../img/first-bg.jpg) no-repeat center top / cover;
    height:800px;

}

.container{
  width:930px;
margin:0 auto;
}

.logo{
  margin-top:41px;
  float:left;

}

nav{
  float:right;
  margin-top:20px;

}

.menu li{
  float:left;
  font-size:20px;
  padding:10px;
  margin-right: 41px;
}
.menu li a{
  color:white;
  text-decoration:none;
  text-transform:uppercase;
}




}
